
/*-----------------------------------------------------------------------全域---*/

html{background:#FFF6EA;}
body{width:1280px;margin:0 auto;font:300 16px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;background:url(/images/s-02.gif) repeat;color:#362e2b}
#wrapper{background:url(/images/s-01.jpg) 0 0 no-repeat;position:relative}
a{font:300 16px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}

#top{position:absolute;right:40px;bottom:87px}
#top:hover{bottom:90px}

/*-----------------------------------------------------------------------頁尾---*/

#footer{background:url(/images/s-05.gif) 0 0 no-repeat #7E6B5A;height:96px;padding:43px 40px 0 40px;color:#c29960;overflow:hidden;position:relative}
#footer a{color:#abe38a}
#footer a:hover{text-decoration:underline}
#footer .left{float:left}
#footer .right{float:right}