<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="春水堂, 瑪可緹, 秋山堂, 茶湯會"/>
    <title>SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽</title>
    <meta name="description" content="誠摯邀請各位茶友們一同參與春水堂和她的姊妹品牌接力賽，成為我們最強力有勁的啦啦夥伴~將茶香聖火持續接力，綿延不息！" />
    <meta property="og:site_name" content="SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽"/>
    <meta property="og:title" content="SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽"/>
    <meta property="og:description" content="誠摯邀請各位茶友們一同參與春水堂和她的姊妹品牌接力賽，成為我們最強力有勁的啦啦夥伴~將茶香聖火持續接力，綿延不息！"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.sharetea.chunshuitang.com.tw"/>
    <meta property="og:image" content="http://www.sharetea.chunshuitang.com.tw/images/thumb.jpg">
    <link rel="image_src" href="http://www.sharetea.chunshuitang.com.tw/images/thumb.jpg">
    <link rel="shortcut icon" href="http://www.sharetea.chunshuitang.com.tw/images/favicon.ico"/>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/term.css" />
    <script src="/js/anchor-art.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50972359-1', 'chunshuitang.com.tw');
  ga('send', 'pageview');

</script>
</head>

<body>
    <div id="wrapper">
        <div id="top">
            <a href="#wrapper">
                <img src="/images/s-06.png"/>
            </a>
        </div>
        <div id="header">
            <a id="back" href="/index">回首頁</a>
            <a id="link" href="/uploads">回上頁</a>
            <h1>玩味SHARE TEA， S 型好時尚！</h1>
        </div>
        <div id="article">
            <div class="main">
                <h2>活動辦法</h2>
                <p>
                    1. 按「讚」加入「春水堂人文茶館」粉絲團。
                    <br />
                    2. 2014/5/1~2014/5/31 之間，於活動網頁中，依提供的範例，上傳您的 S 型玩味商品姿態，並分享至您的 Facebook 塗鴉牆上。
                    <br />
                    3. 上傳照片的飲食內容必須為春水堂、瑪可緹、秋山堂、茶湯會的商品，並使用 S 型時尚姿態品嚐。
                    <br />
                    4. 每個 Facebook 帳號限參加乙次抽獎活動。
                    <br />
                    5. 6/3 中獎名單公布後，請參加者自行進入春水堂官方網站及官方粉絲團查詢。並請獲贈網友在 6/5 23:59 前確認同意領取獎項，
                    <br />
                    並留下姓名、連絡地址、email 與連絡電話，春水堂不會將該資料提供予其他第三人使用。
                    <br />
                    6. 若中獎人逾期未回覆確認同意領取獎項，視同放棄領獎權利，該獎項將不予以重抽遞補。
                </p>
                <h3>
                    <br />
                    抽獎好禮：
                </h3>
                <p>春水堂羊脂白手握杯二入，共 30 個名額</p>
                <h3>
                    <br />
                    活動時程：
                </h3>
                <img src="/images/t-04.jpg" />
                <h4>
                    <br />
                    <br />
      <br />
      <img src="/images/t-03.png"/> <br />
      <br />
      <br />
                    注意事項
                </h4>
                <p>
                    1. 活動結束後，將由電腦系統自動抽獎產生幸運得主，並於指定日期公佈中獎名單者之活動參與帳號於春水堂官方網站及官方粉絲團上。
                    <br>
                    2. 參加本活動者提供內容資料後，即表示同意並接受本活動單位將該資料做為此次活動寄送獎品之用途，主辦單位不會將該資料提供予其他第三人使用。
                    <br>
                    3. 參加本活動者須同意並接受本活動單位將參與者上傳之照片做為春水堂相關活動宣傳目的使用。
                    <br>
                    4. 凡居住在台、澎、金、馬，且擁有中華民國身分證者均可參加。
                    <br>
                    5. 本活動獎項寄送地區僅限台、澎、金、馬地區。海外地區恕無法配送。
                    <br>
                    6. 獎項及獎品內容為隨機抽出，不得指定商品或折換成現金。
                    <br>
                    7. 活動贈品依實際寄送為準，如遇商品缺貨或其他原因導致無法提供，主辦單位得以其他等值商品替換。
                    <br>
                    8. 上傳參加本活動等同於同意配合主辦單位活動時程、活動辦法及注意事項等規範，如有違反本活動辦法及注意事項者，主辦單位得取消其參加及兌換資格。
                    <br>
                    9. 活動進行之規則如有疑慮，以活動平台實際進行之程序為準。
                    <br>
                    10. 圖片或留言如有任何不雅或其它損害春水堂及其家族品牌企業形象之情況，主辦單位有權移除並取消參賽資格。
                    <br>
                    11. 若中獎者資料填寫錯誤、不完整，致主辦單位連繫不上中獎者而無法將獎品送達，亦視同放棄，不另補發。
                    <br>
                    12. 本網路活動以電腦抽獎系統採隨機方式抽出，主辦單位就本活動參加者之資格，保有審查之權利，若以惡意之電腦程式或其他明顯違反活動公平性之方
                    <br />
                    式，或經查核有不符合本活動規定之參加資格者，一經本公司發現或經第三人檢舉，主辦單位除得立即取消得獎資格，追回獎金獎品，並得依法行使相關
                    <br />
                    權利與追訴不法。
                    <br>
                    13. 主辦單位保留修改與調整本活動規則之權利；如遇活動辦法修改，將於本網站公告，不另做通知。
                    <br>
                    14. 服務信箱：
                    <a href="mailto:admin@chunshuitang.com.tw" target="_blank">admin@chunshuitang.com.tw</a>
                </p>
            </div>
        </div>
        <!--article-->
        <div id="footer">
            <p class="left">
                春水堂姐妹品牌　│
                <a href="http://chunshuitang.com.tw/index.php" target="_blank">春水堂</a>
                │
                <a href="http://www.mocktail.com.tw/#/a3" target="_blank">瑪可緹</a>
                │
                <a href="https://www.facebook.com/chioushantangtea?ref=hl" target="_blank">秋山堂</a>
                │
                <a href="http://teapatea.com.tw/" target="_blank">茶湯會</a>
            </p>
            <p class="right">茶香聖火持續接力，綿延不息</p>
        </div>
    </div>
</body>
</html>