<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="春水堂, 瑪可緹, 秋山堂, 茶湯會"/>
	<title>SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽</title>
	<meta name="description" content="誠摯邀請各位茶友們一同參與春水堂和她的姊妹品牌接力賽，成為我們最強力有勁的啦啦夥伴~將茶香聖火持續接力，綿延不息！" />
	<meta property="og:site_name" content="SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽"/>
	<meta property="og:title" content="SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽"/>
	<meta property="og:description" content="誠摯邀請各位茶友們一同參與春水堂和她的姊妹品牌接力賽，成為我們最強力有勁的啦啦夥伴~將茶香聖火持續接力，綿延不息！"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.sharetea.chunshuitang.com.tw"/>
	<meta property="og:image" content="http://www.sharetea.chunshuitang.com.tw/images/thumb.jpg">
	<link rel="image_src" href="http://www.sharetea.chunshuitang.com.tw/images/thumb.jpg">
	<link rel="shortcut icon" href="http://www.sharetea.chunshuitang.com.tw/images/favicon.ico"/>

	<link rel="stylesheet" href="/css/reset.css">
	<style>body{width:798px;margin:0 auto}</style>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50972359-1', 'chunshuitang.com.tw');
  ga('send', 'pageview');

</script>
</head>

<body>
	<img src="/images/index.jpg"/>
</body>
</html>